* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(
        circle,
        rgba(176, 190, 255, 0.633) 0%,
        rgba(95, 175, 255, 0.841) 40%,
        rgb(30, 44, 118) 100%
      );
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: rgb(55, 55, 55);
}

#location {
    width: 10%;
}
